* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: 1rem auto;
}

.picture {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  border-right: 1px dashed #bbbbbb;
  border-bottom: none;
  padding-right: 1rem;
  padding-bottom: 0;
}

.bio {
  padding-left: 1rem;
  padding-top: 0;
}

@media (max-width: 650px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .picture {
    border-right: none;
    padding-right: 0;
    padding-bottom: 0;
  }

  .bio {
    padding-top: 1rem;
    padding-left: 0;
  }
}

.picture img {
  max-width: 100%;
  max-height: 100vh;
}

.bio p {
  margin-bottom: 1rem;
}

.bio h2 {
  margin-bottom: 1rem;
}
